html,
body {
  width: 856px;
  height: 541px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --background: "transparent"; /* Define the initial value of your CSS variable */
}
