html,
body {
  width: 856px;
  height: 541px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --background: "transparent"; /* Define the initial value of your CSS variable */
}

/* Override CSS for Markdown headings */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  border-bottom: none !important; /* Remove the border below headings */
}
